/*
 how to call this from a page class.. it seems that it does get included, but somehow the style is not applied.
*/

/* Body and structure
-------------------------------------------------- */
red {
	background-color: red;
	color: red;
}

--------------------------------------------------
* /
.red {
	background-color: red;
	color: red;
}

.sherlock {
	background-color: pink;
	margin-left: -222px;
	border: 20px;
	font-weight: bold;
	color: red;
}

.ui-selectonemenu .ui-selectonemenu-label {
	color: black;!important
}

.ui-inputfield {
	border-radius: 0px;
	box-shadow: none;
	width: 80px;
}

.fileupload-content {
	width: 500px;
	background: none;
	border: none;
}

.fileupload-buttonbar {
	background-color: rgb(255, 244, 244);
	border: none;
}

.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error
	{
	color: black;
}

.ui-datatable .ui-widget {
	border: none;
}

.ui-datatable .ui-datatable-data td {
	border: none;
}

.ui-dt-c {
	border: none;
}

.ui-tabs .ui-tabs-panel {
	border-width: 1px;
}

.ui-datatable table {
	border-collapse: collapse;
	width:auto;
}